#footer{
	border-top-style:solid;
	border-top-color:darkblue;
	border-top-width:3px;
	background-color:white;
	padding-top:10px;
	position:fixed;
	bottom:0px;
	width:100%;
	min-width:1024px;
	z-index:99999;
	vertical-align:middle;
	
}

#footer p{
	margin-top:0px;
	margin-bottom:5px;
	float:left;
}

#footcontent .one{
	font-weight:bold;
}

#footcontent .two{
	font-style:italic;
}

#footcontent #right{
	margin-right:15px;
	margin-left:auto;
	display:inline-block;
	vertical-align:top;
}

#footcontent #left{
	display:inline-block;
	margin-right:50px;
	margin-left:auto;
	vertical-align:top;
}

#footcontent #center{
	display:inline-block;
	margin-left:auto;
	margin-right:15px;
	margin-bottom:5px;
}
