#footer{
	border-top-style:solid;
	border-top-color:darkblue;
	border-top-width:3px;
	background-color:white;
	padding-top:20px;
	position:fixed;
	bottom:0px;
	width:100%;
	z-index:99999;
	vertical-align:middle;
	
}

#footer p{
	margin-top:0px;
	margin-bottom:5px;
}

#footcontent .one{
	font-weight:bold;
}

#footcontent .two{
	font-style:italic;
}
