header{
	text-align:center;
}

.even{
	background-color:aliceblue;
}

#container{
	margin-bottom:100px;
}

#table{
	margin-left:auto;
	margin-right:auto;
	margin-top:25px;
	width:1000px;
}

#mastiff-table-main{
	width:100%;
}

#mastiff-table-main td{
	max-width:500px;
	overflow-x:hidden;
}
