h3{
	font-size:1em;
}

#anubisNet{
	max-height:300px;
	width:90%;
	/*border-style:solid;
	padding:10px;*/
	overflow-y:auto;
	overflow-x:auto;
}

#anubisNet .attribute{
	width:200px;
}

#anubisNet .data{
	display:inline-flex;
}

#anubTCP{
	margin-bottom:10px;
}

#bottomcontent{
	display:flex;
}

#browser{
	display:inline-block;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
	margin-top:50px;
	width:600px;
	background-color:blanchedalmond;
}

#container{
	width:100%;
	margin-bottom:100px;
}

#dexor{
	max-height:300px;
	margin-top:10px;
	width:90%;
	overflow-y:auto;
	overflow-x:auto;
}

#dexor p{
	font-weight:bold;
	color:red;
}

#emailformat{
	font-weight:bold;
	font-size:x-large;
	margin-top:10px;
	border-style:solid;
	padding:5px;
	border-color:darkgreen;
	background-color:lightgreen;
	display:block;
	width:250px;
	margin-left:auto;
	margin-right:auto;
}

#emailformat a:link{
	text-decoration:none;
	color:black;
}

#emailformat a:visited{
	text-decoration:none;
	color:black;
}

#emailformat a:hover{
	text-decoration:none;
	color:white;
}

#files{
	display:inline-block;
	vertical-align:top;
	margin-left:auto;
	/*float:left;*/
	margin-right:10px;
	width:600px;
	padding:10px;
	margin-top:50px;
	background-color:lightgoldenrodyellow;
}

#mainHead{
	text-align:center;
}

#mainContent{
	width:1500px;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	/*background-color:aliceblue;*/
	padding:20px;
}

#opensource{
	display:inline-block;
	vertical-align:top;
	width:600px;
	margin-left:auto;
	margin-right:auto;
	background-color:aliceblue;
	padding:10px;
	
}

#related{
	max-height:300px;
	margin-top:10px;
	margin-bottom:10px;
	width:90%;
	/*border-style:solid;*/
	/*padding:10px;*/
	overflow-y:auto;
	overflow-x:auto;
}

#samples{
	
}

#strings{
	max-height:300px;
	margin-top:10px;
	width:90%;
	overflow-y:auto;
	overflow-x:auto;
}

#summary{
	display:inline-block;
	width:600px;
	/*float:left;*/
	margin-right:10px;
	margin-left:auto;
	background-color:aliceblue;
	padding:10px;
}

#topcontent{
	/*height:500px;*/
	display:flex;
}

#txtall{
	border-top-style:solid;
	border-bottom-style:solid;
	border-color:green;
	background-color:lightgreen;
	padding-bottom:10px;
	width:340px;
	text-align:center;
	font-weight:bold;
}

#xorbutton{
	font-weight:bold;
	font-size:x-large;
	margin-top:10px;
	border-style:solid;
	padding:5px;
	border-color:darkgreen;
	background-color:yellow;
	display:block;
	width:250px;
	margin-left:auto;
	margin-right:auto;
}

#xorbutton a:link{
	text-decoration:none;
	color:black;
}

#xorbutton a:visited{
	text-decoration:none;
	color:black;
}

#xorbutton a:hover{
	text-decoration:none;
	color:red;
}

#zip{
	overflow-x:auto;
	overflow-y:auto;
	max-height:300px;
}

.anub{
	margin-bottom:10px;
}

.anubConnect{
	background-color:white;
	padding:10px;
	margin: 10 0;
	display:inline-block;
}

.anubRow{
	width:100%;
	white-space:nowrap;
	/*display:inline-flex;*/
}

.attribute{
	font-weight:bold;
	float:left;
	width:100px;
}

.et{
	width:100%;
	color:red;
}

.httpconvo{
	width:100%;
	margin: 10 0;
}

.httpreq{
	margin-top:10px;
	margin-bottom:10px;
}
