#header{
	text-align:center;
}

#mastiff{
	width:700px;
	margin-left: auto;
	margin-right: auto;
	background-color:aliceblue;
	padding:20px;
	margin-top:20px;
}

#ticket{
	margin-bottom:10px;
}

#required{
	width:680px;
	padding: 10px;
	background-color: moccasin;
	margin-bottom:20px;
}

#reqHead{
	text-align:center;
	font-weight:bold;
}
