.upload-content {
	border-style:solid;
	border-width:3px;
	border-color:#7FB5DA;
	background-color:#FFFFF5;
	padding-bottom:30px;
}

.upload-content h2{
	text-align:center;
}

.upload-content #form{
	width:300px;
	margin-left:auto;
	margin-right:auto;
}

.upload-content .row {
	width: 100%;
	display:inline-block;
}

.upload-content .col-item{
	width:25%;
	float:left;
}

.upload-content .md5{
	width:30%;
}

.upload-content .ticket{
	width:20%;
}

.upload-content .col-head{
	font-weight: bold;
}

.recent-samples{
	padding:10px;
	background-color:#fff;
	border-style:solid;
	border-color:#7FB5DA;
	border-width:3 0 3 0;
}

.btn{
	margin-left:auto;
	margin-right:auto;
	display:block;
}
